@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 100%;
    grid-template-rows: 60px 1fr;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.menu-button {
    background-color: #D9D9D9;
    text-decoration: none;
    padding: 5px;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    margin: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
}

header {
    background-color: #819DE5;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    grid-column: 1/3;
}

aside {
    grid-row: 2;
    background-color: #819DE5;
    height: 100%;
    width: 60px;
}

.aside-expand {
    width: 200px;
}

.aside-body-expand {
    grid-template-columns: 200px 1fr;
}


ul {
    padding: 0px;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.menu-icon {
    padding: 13px;
    margin: 0;
    height: 34px;
    width: 34px;
    border-radius: 30%;
}

#menu-button:hover {
    background-color: #6a89da;
}


li:hover {
    background-color: #6a89da;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.div-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.card {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    background-color: #EDEDED;
}

.login {
    width: 40%;
    padding: 20px;
    min-width: 350px;
    max-width: 450px;
    z-index: 0;
    position: absolute;
}

.login-img {
    z-index: 1;
    background-color: #D9D9D9;
    height: 70px;
    width: 70px;
    padding: 7px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form-div-stile {
    background-color: #D9D9D9;
    border-radius: 7px;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
}

.form-div-stile input {
    margin-left: 7px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

.form-div-stile img:not(.product-img) {
    margin: 0;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.form-div-stile input:focus {
    outline: none;
}

.message {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.301);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 150px;
    left: calc(50% + 30px);
    width: 300px;
    min-height: 10px;
    max-height: auto;
    background-color: #ecd7d7;
    transform: translateX(-50%);
}

.message button {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.301);
    border-radius: 7px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.message p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.acept {
    background-color: #3EA048;
}

.decline {
    background-color: #D42A2A;
}

.user-icon:hover {
    background-color: #6a89da;
}

.user-icon {
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.user-menu {
    position: fixed;
    background-color: #8375BC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 60px;
    width: 220px;
}

.user-menu ul {
    margin: 3px 0px;
}

.user-menu-li:hover {
    background-color: #534486;
}

.aside-desc {
    text-decoration: none;
    color: black;
}

#log-info {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px 10px;
}

#closeSesion {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.options-desc {
    text-decoration: none;
    color: black;
}

.profile-img-name {
    display: flex;
    flex-direction: row;
}

.profile {
    padding: 30px;
    min-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.a-button {
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border-radius: 15px;
    background-color: #D9D9D9;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.11);
    margin: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
}

form label {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 130px;
}

.menu-adjust {
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tools * {
    align-items: center;
}

form input,
select {
    margin: 0px 5px;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 5px 15px;
    outline: none;
}

.submit-buttton {
    background-color: #819DE5;
    color: white;
}

.circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle>img {
    border-radius: 30%;
    width: 35px;
    height: 35px;
}

.products {
    display: flex;
    justify-content: space-around;
    width: 95%;
    overflow: auto;
    max-height: 480px;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    background-color: #A9A9A9;
    align-items: center;
    margin-bottom: 20px;
}

.product-card img {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.product-card a {
    background-color: black;
    color: white;
}

.product-img{
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.perfil{
    flex-direction: column;
}

.tabla{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.tabla img:not(.trash) {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.trash{
    margin: 2px;
    padding: 0px;
}